.Experience {
  padding: 50px 0;
  padding: 100px 0;
  background: #20273a;
  z-index: 99;
  position: sticky;
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;

      h2 {
        font-size: 28px;
      }

      h1 {
        font-size: 40px;
        padding: 0 0 30px 0;
        color: #66fcf1;
        span {
          color: #04f8e8;
        }
      }
    }
    .timeline {
      position: relative;
      padding: 90px 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: center;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        background: #00b8d9; /* Çizgi rengi */
        transform: translateX(-50%);
      }
    }

    .timeline-item {
      position: relative;
      margin: 20px 0;
      padding: 20px;
      background: #0a192f; /* Arka plan rengi */
      color: white;
      border-radius: 8px;
      width: 45%;
      opacity: 0;
      transform: translateY(50px);
      transition: opacity 0.6s ease-out, transform 0.6s ease-out;

      &:nth-child(odd) {
        left: -30%;
        text-align: right;
      }

      &:nth-child(even) {
        left: 30%;
        text-align: left;
      }

      &.visible {
        opacity: 1;
        transform: translateY(0);
      }

      &:before {
        content: "";
        position: absolute;
        top: 20px;
        right: -8px;
        width: 16px;
        height: 16px;
        background: #00b8d9;
        border-radius: 50%;
        box-shadow: 0 0 0 4px #0a192f;
      }

      &:nth-child(odd):before {
        left: -8px;
        right: auto;
      }
    }

    .timeline-item h3 {
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      color: #00b8d9; /* Başlık rengi */
    }

    .timeline-item p {
      margin: 10px 0 0;
      font-size: 14px;
      color: #8892b0; /* Yazı rengi */
    }
  }
}
