.Welcome {
  height: 100vh;
  padding: 100px 0;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;

    .text {
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        color: gray;
        font-size: 25px;
        width: 900px;
     
      }
      h1 {
        font-size: 30px;
        color: #66fcf1;
        span {
          color: #04f8e8;
        }
      }
    }
  }
}
